extends layout

mixin control(id, name, url)
    .panel.control
      h4= name
      hr
      div(id=id).small-text
      script(type='text/javascript').
        var fn = function() {
          $.ajax('#{url}', {
            success: function(html) {
              $('##{id}').html(html);
            }
          });
        };
        $(document).ready(fn);
        setInterval(fn, 10000);

block scripts
  script(type="text/javascript", src="/js/jquery.jqplot.min.js")
  link(rel="stylesheet" href="/css/jquery.jqplot.min.css")

block content
  h1 Email Dispatcher JS - Dashboard
  .row
    .columns.large-4
      +control('total-sent', 'Total Sent', '/stats/totals')
    .columns.large-8
      +control('send-rate', 'Send Rate', '/stats/sendrate')
  .row
    .columns.large-4.end
      +control('last-five', 'Last Five', '/stats/lastfive')


