extends layout

mixin control(id, name, url)
  li.columns.large-4
    .panel.control
      h4= name
      hr
      div(id=id).small-text
      script(type='text/javascript').
        var fn = function() {
          $.ajax('#{url}', {
            success: function(html) {
              $('##{id}').html(html);
            }
          });
        };
        $(document).ready(fn);

block scripts
  script(type="text/javascript", src="/js/jquery.jqplot.min.js")
  link(rel="stylesheet" href="/css/jquery.jqplot.min.css")

block content
  h1 Email Dispatcher JS - Dashboard
  ul.row.no-bullet
    +control('total-sent', 'Total Sent', '/stats/totalsent')
    +control('last-five', 'Last Five', '/stats/lastfive')
    +control('send-rate', 'Send Rate', '/stats/sendrate')
