extends layout

block content
  h1 Statistics
  ul.row.no-bullet
    li.columns.large-3
      .panel.control
        h3 Total Sent
        #total-sent
        script(type='text/javascript').
          $.ajax('/stats/totalsent', {
            success: function(html) {
              $('#total-sent').html(html);
            }
          });
