extends layout

block content
	h1 Statistics
	#total
	script(type='text/javascript').
		setInterval(function() {
			$.ajax('/stats/totalsent', {
				success: function(json) {
					$('#total').text(json.count);
				}
			});
		}, 1000);
