extends layout

block scripts
  script(type='text/javascript', src="/js/stats-controls.js")

block content
  h1 Statistics
  ul.row.no-bullet
    li.columns.large-3
      .panel.control
        h3 Total Sent
        #total
    li.columns.large-3
      .panel.control
        h3 Last Five Emails
        #lastfive
    li.columns.large-3
      .panel.control
        h3 Something else
    li.columns.large-3
      .panel.control
        h3 Something other
    li.columns.large-3
      .panel.control
        h3 Something other
    li.columns.large-3
      .panel.control
        h3 Something other
    li.columns.large-3
      .panel.control
        h3 Something other
  script.
    $(document).foundation();
