div(id="#{name}", style="height: 100px;")
script(type='text/javascript').
  $.jqplot("#{name}",
    !{JSON.stringify(items)},
    {
    axes: {
      xaxis: {
        ticks: !{JSON.stringify(xticks)}
      },
      yaxis: {
        pad: 0,
      },
    },
    seriesDefaults: {
      color:'#5FAB78',
      showMarker: false,
      shadow: false,
    },
    grid: {
      drawGridLines: false,
      borderWidth: 0,
      shadow: false
    },
  });
